.container_home{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  background-color:rgb(195, 215, 243);
  align-items: center;

}
